
body{
  color: blueviolet;
}

.QrCode{


  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
 
  }

.QrCode div {

    background-color: white;
}

.Print{
  display:none;
}

@media print {
  .noPrint{
    display:none;
  }
  .Print{
    display:block;
  }
}