


.QrCode div {

    background-color: white;
}

.Print{
  display:none;
}

@media print {
  .noPrint{
    display:none;
  }
  .Print{
    display:block;
  }
}

.table {
  border: 1px;
  margin-left: auto; 
  margin-right: auto;

}

h4{
  text-align: center;
}