.App {
  border: 1px solid #222;
  margin: 4px 2px;
  position: relative;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding: 10px;
  box-shadow: 3px 3px #888888;

}


@media print {
  .noPrint{
    display:none;
  }
}

.table {
  border: 1px;
  margin-left: auto; 
  margin-right: auto;

}

h1{
  text-align: center;
}

span{
  font-weight: bold;
  text-decoration: underline;
}