.App {
  border: 2px solid rgb(100, 22, 172);
  margin: 4px 2px;
  position: relative;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding: 10px;


}

body{
  background-color: black;
}


@media print {
  .noPrint{
    display:none;
  }
}

.table {
  border: 1px;
  margin-left: auto; 
  margin-right: auto;
  position: relative;
  top:20px;

}

h1{
  text-align: center;
}

span{
  font-weight: bold;
  text-decoration: underline;
}