
body{
  color: blueviolet;
}

.App {
  border: 7px solid rgb(100, 22, 172);
  margin: 0px 0px;
  position: relative;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding: 10px;
  border-style: double;

  
}



.chngeMoodDark {
  background-color: rgb(41, 40, 40);
  color: white;
}

.chngeMoodLight {
  background-color: white;
}




@media print {
  .noPrint{
    display:none;
  }
}

.table {
  border: 1px;
  margin-left: auto; 
  margin-right: auto;
  position: relative;
  top:20px;

}

h1{
  text-align: center;
  text-decoration: underline overline;

}

span{
  font-weight: bold;
  text-decoration: underline;
}
