.table {
    border: 1px red;
    margin-left: auto; 
    margin-right: auto;
    font-size: 15px;
    width: 100%;
    font-weight: bold;

  }

  .input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid blueviolet;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    color: blueviolet;
    font-weight: bold;
    font-size: 15px;
    border-radius: 25px;
  }
  
  .input:focus {
    border: 3px solid #555;
  }

  select{
    width: 70%;
    padding: 12px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 3px solid blueviolet;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: 15px;
    color: blueviolet;
    font-weight: bold;
    border-radius: 25px;

  }

  select:focus {
    border: 3px solid #555;
  }

  .inputCheckBox{
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 5px solid blueviolet;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;

  }

  .hideIcon{
    position: relative;
    top: -50px;
    height: 34px;
    left: 230px;
    width: 40px;
    background-color: white;
    text-align: center;
    border: 1px solid white;
    border-radius: 25px;
    background-color: rgb(214, 169, 255);


  }

  img{
    width: 20px;
    position: relative;

  }